
body {
    font-family: 'Roboto', sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.head {
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}
.linklist {
    margin-right: 25%;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
    font-size: 18px;
}

.center {
    display:flex;
    width: 50%;
    height: 250px;
}

.hero .center {
    display: flex;
}

.hero .image {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.herobutton {
    display: flex;
    align-items: center;
    height: 90px;
}

.herobutton button{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


.hero {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero .main {
    font-size: 48px;
    color: #f9faf8;
    width: 75%;
    font-weight: 900;
    flex-grow: auto;
}

.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
}



.randwboxes .main {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.imboxes {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 100px;
}

.imboxes .image {
    border: 3px solid #3882f6;
    border-radius: 20px;
    overflow: hidden;
}

.textwb {
    width: 200px;
    text-align: center;
}

.imboxes .text {
    text-wrap: wrap;
}


.quotebox {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;

}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 50%;
}

.author {
    width: 50%;
    text-align: right;
    font-weight: 800;
    font-size: 20px;
}


.callcard-bg {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.callcard {
    height: 200px;
    display: flex;
    width: 75%;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.call .calltext {
    font-size: 25px;
    color: white;
    font-weight: 900;
}

.call .subtext {
    font-size: 22px;
    color: white;
    font-weight: 400;
}

.signup {
    display: flex;
    border: white;
    justify-content: right;
    align-items: center;    
    padding-left: 10px;
    padding-right: 1px;
    padding: 5px;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 7px;
    font-weight: 900;
}

.signup button {
    border: 2px solid white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.callcard .setup {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}