*{
    border: 1px solid red;
    font-family: "Roboto";
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}


.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
}

.hero .main {
    font-size: 48px;
    color: #f9faf8;
}

.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
}



.randwboxes .main {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.imboxes {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.image {
    border-radius: 20px;
    border-color: blue;
    border-width: 3px;
    overflow: hidden;
}
.textwb {
    width: 200px;
    text-align: center;
}

.imboxes .text {
    text-wrap: wrap;
}


.quotebox {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;

}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 50%;
}

.author {
    width: 50%;
    text-align: right;
    font-weight: 800;
    font-size: 20px;
}